<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydg.mapper.TUserMapper">

    <resultMap id="BaseResultMap" type="com.ydg.model.User">
            <result property="id" column="id" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="phone"     column="phone"     jdbcType="VARCHAR"/>
            <result property="address"   column="address"   jdbcType="VARCHAR"/>
            <result property="isDeleted"  column="is_deleted"  jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,phone,address,is_deleted,create_time
    </sql>
    <select id="selectOneByUsername" resultType="com.ydg.model.User">
        select <include refid="Base_Column_List"/>
       from t_user where username = #{username}
    </select>



</mapper>
